@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.svg-container {
  width: 50vw;
  height: 350px;
  background-image: url('../src/assets/HomeDown.svg');
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;

}

.text-container {
  width: 376.653px;
  color: #050038;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  /* 116.667% */
  letter-spacing: -1px;
}

/* .box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
} */

.img-preview {
  overflow: hidden;
}